@font-face {
font-family: "Bebas-Regular";
src: url("fonts/Bebas-Regular.otf");
}

@font-face {
font-family: "Arial-Nova";
src: url("fonts/Arial-Nova-W07-Regular.ttf");
}

@font-face {
font-family: "Montserrat-Black";
src: url("portfolio/fonts/Montserrat-Black.ttf");
}

@font-face {
font-family: "Overpass-ExtraBold";
src: url("portfolio/fonts/Overpass-ExtraBold.ttf");
}

body {
  background-color: #EBEBEB;
  margin:0;
  font-family: Arial-Nova, Arial;
  overflow: hidden;
  overflow-y: scroll;
  background-color: white;
}

div {
  //  border:1px solid;
  //  background-color: 009900;
}

/* canvas  */

canvas {
  width:100vw;
  height:100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.websiteHolder {
  width: 1200px;
  min-height: 800px;
  //height: 1300px;
  display: block;
  position: relative;
  top:0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  //background-color: #9d8253;
}

/* Top Navigation Block */

.topnav {
  overflow: hidden;
  background-color: #EBEBEB;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  //border: 1px solid black;
  min-width: 200px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: #4ABCC4;
}

.topnav-right {
  float: right;
}

#nav {
    left: 0px;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #EBEBEB;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#nav ul li:hover {
  background-color: #ddd;
  color: black;
}
#nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: black;
    font-size: 17px;
    text-align: center;
}
#nav ul li a.active {
  color: #4ABCC4;
}

.block1 {
  height: 500px;
  width: 100%;
  position: relative;
  display: block;
  //background-color: black;
  background-color: #323445;
}

#cnv {
	//background-color: red;
  position: absolute;
	width:1200px;
	height:100%;
}

.canvasDivHolder {
  position: absolute;
  width:1200px;
  height:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ontopCNV {
  //background-color:rgba(255,255,255,0.4);
  width: 600px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Montserrat-Black, Room, Arial;
  //border: 1px solid #DCC892;
  z-index: 999;
}

.ontopCNV2 {
  width: 100px;
  height: 300px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  //text-align: center;
  //font-family: Montserrat-Black, Room, Arial;
  border: 3px solid #404457;
  border-radius: 10px;
  z-index: 999;
}

#block2Title {
  //font-family: Montserrat-Black, Room, Arial;
  font-family: Overpass-ExtraBold, Room, Arial;
  font-size: 60px;
  color: white;
  margin-top: 0;
  //-webkit-text-stroke: 3px black; /* width and color */
}

hr {
  margin-top: 0;
}

blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 2s linear infinite condemned_blink_effect;
}

/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.blockSocials {
  height: 100px;
  width: 100%;
  position: relative;
  display: block;
  //background-color: black;
  background-color: #323445;
}

.blockDeeds {
  height: 50px;
  width: 100%;
  position: relative;
  display: block;
  background-color: #323445;
  text-align: center;
  color: white;
}

#deeds {
  margin: 0;
   padding: 0;
}

.socialsHolder {
  height: 70px;
  width: 400px;
  border: 3px solid #404457;
  //border-radius: 10px;
  position: absolute;
  //top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center ;
  align-items: center;
}

#socialIcons {
  height: 50px;
  margin: 0px 10px;
  width: 50px;
  padding: 5px;
}

.block2 {
  width: 100%;
  min-height: 700px;
  background: #232533; /* For browsers that don't support gradients */
  position: relative; /* important for header updent */
  overflow: hidden;
}

.photoHolderLeft {
  min-height: 650px;
  width: 40%;
  //border: 1px solid red;
  float:left;
}

.photoHolderRight {
  height: 650px;
  width: 60%;
  //border: 1px solid green;
  overflow: hidden;
}

.photoSectionPadding{
  padding: 15px;
}

#athens {
  height: 400px;
  width: 300px;
  float: right;
}

#balcony {
  height: 400px;
  width: 400px;
  float: left;
}

#third {
  height: 450px;
  width: 337px;
  float: right;
}

#photoDesc {
  //border: 1px solid white;
  margin: 15px;
  color: white;
}

#imgMe {
  max-width: 100%;
    max-height: 100%;
}

.block25 {
  width: 100%;
  min-height: 300px;
  background: #323445; /* For browsers that don't support gradients */
  position: relative; /* important for header updent */
  //border-radius: 20px;
}

.navProjects {
  text-align: center;
}

.navProjects a {
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

.projectsHolder {
  height: 500px;
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  overflow-y: scroll;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 100%;
}

.projectIndiv {
  height: 300px;
  width: 240px;
  border: 1px solid #DDCA93;
  font-size: 30px;
  display: block;
  margin: 25px;
  overflow: hidden;
}

.projectPhotoHolder {
  height: 240px;
  width: 240px;
  background-color: blue;
  //overflow: hidden;
}

#photoFill {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-20%);
}

.projectDesc {
  height: 60px;
  width: 240px;
  background-color: #232533;
  padding: 8px;
  border-top: 1px solid black;
  color: white;
}

#category {
  margin-top: 0px;
  font-size: 12px;
  text-decoration: underline;
  margin: 0    10      0       0;
}

#title {
  font-size: 16px;
  margin: 0    0      0       0;
}

.block3 {
  width: 100%;
  height: 300px;
  //background: white; /* For browsers that don't support gradients */
  background: #232533;
  position: relative; /* important for header updent */
  //border-radius: 20px;
}

.block4 {
  width: 100%;
  height: 600px;
  background: #323445; /* For browsers that don't support gradients */
  position: relative; /* important for header updent */
  //border-radius: 20px;
}

.blockTitleHolder {
  padding-top: 50px;
  //text-align: center;
  color: white;
  font-family: Overpass-ExtraBold, Room, Arial;
  font-size: 48px;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.QualBlock {
  height: 300px;
  width: 300px;
  background-color: #DDCA93;
  font-size: 25px;
  display: block;
  overflow: hidden;
  //float: left;
  margin: 35px;
  //padding: 20px;
  //box-shadow: 10px 10px 8px #888888;
}

.QualBlock:hover .ScrollBlock {
  animation-name: translateUp;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.QualBlock:hover .YellowBlock {
  animation-name: translateUp;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes translateUp {
  0%   {transform: translate(0px, 0px);}
  100% {transform: translate(0px, -300px);}
}

@keyframes translateUp-r {
  0%   {transform: translate(0px, -300px);}
  100% {transform: translate(0px, 0px);}
}

.YellowBlock {
  height: 200px;
  width: 200px;
  background-color: #DDCA93;
  display: block;
  animation-duration: 1s;
  animation-name: translateUp-r;
  padding: 50px 0px 50px 50px;
}

#qualImg {
  width: 35px;
  height: 35px;
  bottom: 0px;
}

.yellowTxtHolder {
  height: 200px;
  width: 200px;
  //border: 1px solid red;
  float: right;
}

.ScrollBlock {
  height: 200px;
  width: 200px;
  background-color: #7588B3;
  display: block;
  animation-duration: 1s;
  animation-name: translateUp-r;
  padding: 50px 50px 50px 50px;
}

.block5 {
  width: 100%;
  min-height: 700px;
  background: #232533; /* For browsers that don't support gradients */
  position: relative; /* important for header updent */
  overflow: hidden;
}

#colourUnderline {
  height: 5px;
  width: 60px;
  background-color: #DDCA93;
}

.SoEBlock {
  width: 100%;
  min-height: 50px;
  //border: 1px solid red;
  overflow: hidden;
}

.SoELeft {
  width: 20%;
  height: 100%;
  //border: 1px solid yellow;
  float: left;
  text-align: right;
  color: #DDCA93;
}

.SoERight {
  width: 76%;
  height: 100%;
  //border: 1px solid green;
  float: left;
  overflow: hidden;
  text-align: left;
  //line-height: 40px;
  color: white;
}

#text {
    padding: 25px 50px;
}

#textDivider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #70727f;
  display: block;
}

.block6 {
  width: 100%;
  min-height: 600px;
  background: #323445; /* For browsers that don't support gradients */
  position: relative; /* important for header updent */
  //border-radius: 20px;
}

.bigDivWrapper {
  width: 100%;
  min-height: 90px;
  //border: 1px solid red;
  display: block;
  position: relative;
  overflow: hidden;
}

.bDLeft {
  min-height: 650px;
  width: 50%;
  //border: 1px solid red;
  float:left;
}

.bDRight {
  height: 650px;
  width: 50%;
  //border: 1px solid green;
  overflow: hidden;
}

#textBox1 {
  min-height: 200px;
  width: 300px;
  float: right;
  border: 1px solid #DDCA93;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
  color: white;
}

#textBox2 {
  min-height: 200px;
  width: 300px;
  float: left;
  border: 1px solid #DDCA93;
  padding: 15px;
  margin-left: 10px;
  color: white;
}

.blockEnd {
  width: 100%;
  height: 75px;
  background: #232533; /* For browsers that don't support gradients */
  position: relative; /* important for header updent */
  //border-radius: 20px;
  padding-top: 15px;
}

#end {
  margin-top: 0px;
  color: white;
  text-align: center;
}













.headerUpdent {
  height: 50px;
  width: 200px;
  background-color: red;
  position:absolute;
  top: -25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background-color: #142482;
}

.splitTri {
  float right;
  height: 500px;
  width: 500px;
  background-color: red;
}

.splitTri {
  float right;
  height: 500px;
  //width: 500px;
  background-color: red;
}

.slider {
  width: 100%;
  margin: 100px auto;
  top: 0px;
}

.slick-slide {
  margin: 10px 20px;
}

.slick-slide .sliderTile {
  width: 550px;
  height: 400px;
  transform: scale(0.8);
}

.slick-slide img {
  width: 550px;
  height: 400px;
  object-fit: cover;
}

.textHolder {
  width: 100%;
  height: 40px;
  background-color: grey;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

/* Current Centre Image */
.slick-dotted .slick-current {
  animation-name: upScale;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes upScale {
  0%   {transform: scale(0.8);}
  100% {transform: scale(1.1)}
  //100%   {border: solid 10px white;}
}

.bar-splitter {
  width: 100%;
  height: 100vh;
  background-color: purple;
  background: url("assets/nameBackground.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: table;
}

.splitLeft {
  height: 100%;
  width: 33%;
  border: solid 1px red;
  display: table-cell;
  animation: exPulse-r 1s forwards;
}

.splitMid {
  height: 100%;
  width: 33%;
  border: solid 1px red;
  display: table-cell;
  animation: exPulse-r 1s forwards;
}

.splitRight {
  height: 100%;
  width: 33%;
  border: solid 1px red;
  display: table-cell;
  //vertical-align: top;
  animation: exPulse-r 1s forwards;
}

.splitLeft:hover {
  animation: exPulse 1s forwards;
}

.splitMid:hover {
  animation: exPulse 1s forwards;
}

.splitRight:hover {
  animation: exPulse 1s forwards;
}

.splitLeft:hover .splitMid {
  animation: exPulse-s 1s forwards;
}

@keyframes exPulse {
  0%   {width: 33%;}
  100% {width: 50%;}
}

@keyframes exPulse-r {
  0%   {width: 50%;}
  100% {width: 33%;}
}

@keyframes exPulse-s {
  0%   {width: 33%;}
  100% {width: 25%;}
}

.circleContainer {
  height: 300px;
  width: 300px;
  background: lightblue; /* For browsers that don't support gradients */
  background: -webkit-linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  background: -o-linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  background: -moz-linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  background: linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  position: relative;
}

.circle {
  //background: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 10px white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position:absolute;
  margin: -50px 0 0 -50px;
  left: 125px;
  top: 125px;
  transform-origin: center center;
  display: inline-block;
}

.circleContainer:hover .circle{
  animation-name: thinning;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes thinning {
  0%   {border: solid 10px white;}
  100% {border: solid 5px white;}
  //100%   {border: solid 10px white;}
}

.smallCircle {
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 140px;
  left: 140px;
  //transform: translateX(-25px);
  //transform: rotate(45deg) translateX(75px) rotate(-45deg);
}

.circleContainer:hover .smallCircle{
  -webkit-animation: orbit2 4s linear infinite; /* Chrome, Safari 5 */
   -moz-animation: orbit2 4s linear infinite; /* Firefox 5-15 */
     -o-animation: orbit2 4s linear infinite; /* Opera 12+ */
        animation: orbit2 4s linear infinite; /* Chrome, Firefox 16+,
                                                 IE 10+, Safari 5 */
}

@-webkit-keyframes orbit2 {
	from { 	-webkit-transform: rotate(0deg) translateX(75px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(75px) rotate(-360deg); }
}

@-moz-keyframes orbit2 {
	from { 	-moz-transform: rotate(0deg) translateX(75px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(75px) rotate(-360deg); }
}

@-o-keyframes orbit2 {
	from { 	-o-transform: rotate(0deg) translateX(75px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(75px) rotate(-360deg); }
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX(75px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(75px) rotate(-360deg); }
}

.segmentCircle {
  background-image:
    linear-gradient(126deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
  box-sizing: border-box;
  //border-left: 4px solid #f51c40;
  //border: solid 6px white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 90px;
  left: 90px;
}

.circleContainer2 {
  height: 300px;
  width: 300px;
  background: lightblue; /* For browsers that don't support gradients */
  background: -webkit-linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  background: -o-linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  background: -moz-linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  background: linear-gradient(135deg, #006464 0%, #006464, 50%, #165653 15%, #165653 100%);
  position: relative;
}

.circle2 {
  //background: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 5px white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position:absolute;
  margin: -50px 0 0 -50px;
  left: 125px;
  top: 125px;
  transform-origin: center center;
  display: inline-block;
  opacity: 0.5;
}

.arc{
  background-color: transparent;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 95px;
  top: 95px;
  margin:auto;
  border:6px solid transparent;
  border-left-color: white;
  border-right-color: white;
  transform: rotate(-45deg);
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-name: click-r;
  opacity: 0.5;
}

.circleContainer2:hover .arc {
  animation-name: click;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes click {
  0%   {transform: rotate(-45deg);}
  100% {transform: rotate(-135deg);}
}

@keyframes click-r {
  0%   {transform: rotate(-135deg);}
  100% {transform: rotate(-45deg);}
}

.circleContainer3 {
  height: 300px;
  width: 300px;
  background: lightblue; /* For browsers that don't support gradients */
  position: relative;
  background: url("assets/poppy.png") 0 0 no-repeat, linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background-blend-mode: multiply;
  background-size: cover;
}

/* League Stats */

.topnavLol {
  width: 100%;
  height: 50px;
  background-color: #232f46;
}

.topnavLol2 {
  width: 100%;
  height: 50px;
  background-color: #5383e8;
}

.websiteHolderLol {
  padding: 10px;
}

.block1Lol {
  width: 100%;
  height: 200px;

  background-color: #f2f2f2;
  border: 1px solid #e2e4e4;
}


/* HomePage */

.hpMain {
  width: 100%;
  height: 100vh;
  background-color: red;
  background: url("assets/wireframe.jpg");
  background-blend-mode: multiply;
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.HPSeparationBar{
  width: 100%;
  height: 40px;
  background-color: gray;
}

.HPGridHolder {
  width: 100%;
}

.HPGridDiv {
  width: 350px;
  height: 200px;
  background-color: red;
  margin: 5px;
  float: left;
  position: relative;
  /* important for hover zooming cutting */
  overflow: hidden;
}

.HPimages {
  width:100%;
  height:100%;
  transition: transform .5s ease;
}

.HPimages:hover {
  transform: scale(1.1);
}

.bottomBar {
  height: 25px;
  width: 100%;
  background-color: white;
  z-index: 999;
  position: absolute;
  opacity: 0.7;
  float: left;
  left: 0px;
  bottom: 0px;
}

#thumbTitle {
  color: black;
  text-align: center;
  top: 10px;
  vertical-align: middle;
}
